{% extends "base.html" %}

{% block content %}

{% if plans %}
    <div class="container py-5">
        <div class="row text-center g-4">
            {% for plan in plans %}
            <div class="col-md-4">
                <div class="card p-4">
                    <h4 class="fw-bold">{{ plan.name|capfirst }}</h4>
                    <div class="price">₹{{ plan.price }}</div>
                    <small class="text-muted mb-3">monthly</small>
                    <hr>
                    <div class="text-start">
                        <p class="feature text-success">✔️ {{ plan.blogs_per_month }} blogs per month</p>
                        <p class="feature {% if plan.can_turn_subscribers %}text-success{% else %}text-danger{% endif %}">
                            {% if plan.can_turn_subscribers %}✔️{% else %}❌{% endif %} Turn Readers into Subscribers
                        </p>
                        <p class="feature {% if plan.can_add_paywalls %}text-success{% else %}text-danger{% endif %}">
                            {% if plan.can_add_paywalls %}✔️{% else %}❌{% endif %} Add Paywalls to Selected Posts
                        </p>
                        <p class="feature {% if plan.can_setup_schedules %}text-success{% else %}text-danger{% endif %}">
                            {% if plan.can_setup_schedules %}✔️{% else %}❌{% endif %} Setup Payment Schedules
                        </p>
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url "payment" id=plan.id %}" class="btn btn-success">
                      <i class="bi bi-credit-card-2-front-fill me-1"></i>Proceed to Pay
                  </a>
                  {% else %}
                  <a href="{% url "signin" %}" class="btn btn-success">
                    <i class="bi bi-credit-card-2-front-fill me-1"></i>Proceed to Pay
                </a>
                  {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>No plans available.</p>
{% endif %}


{% endblock content %}